<article class="post">
	<div class= "card-margins">
		<div class="comments card">
		{{#each this}}
		<section class="comment">
			<div class="meta card-header bg-tertiarycolor card-title">
				{{user.username}} on {{format_date created_at}}
			</div>
			<div class="text card-body">
				{{comment_text}}
			</div>
		</section>
		{{/each}}
		</div>
	</div>
</article>
