<div class="comments">
	{{#each this}}
	<section class="list-group comment">
		<div class="list-group-item text">
			{{comment_text}}
			<br />
			-- {{user.username}}, {{format_date created_at}}
		</div>
	</section>
	{{/each}}
</div>