<div class="list-group">
	<a href="/dashboard/edit/{{id}}" class="post-header edit-link list-group-item">
		<h5 class="mb-1 title">{{title}}</h5>
		<small>
			Posted on {{format_date created_at}}
		</small>
	</a>
</div>