<section>
	<a href="/dashboard"> &larr; Back to dashboard</a>
	<h2 class="">Create New Post</h2>
	<form id="new-post-button" class="col-sm-6 form-layout new-post-form">
		<div class="form-group row">
			<label for="add-tiltle" class="col-sm-2 col-form-label bg-maincolor">Title</label>
			<div class="col-sm-10">
				<input name="post-title" type="text" class="form-control" id="post-tile" placeholder="title">
			</div>
		</div>
		<div class="form-group row">
			<label for="add-body" class="col-sm-2 col-form-label bg-maincolor">body</label>
			<div class="col-sm-10">
				<input name="post-body" type="text" class="form-control" id="post-body" placeholder="body">
			</div>
		</div>
		<div class="form-group row">
			<div class="col-sm-10">
				<button type="submit"  class="btn btn-secondarycolor">Create Post</button>
			</div>
		</div>
	</form>
</section>
<script src="/javascript/new-post.js"></script>