<form class="new-post-form form-border vstack gap-3">
	<div class="header-form">
		<h2>Create New Post</h2>
	</div>
	<div>
		<label for="post-title" class="form-label">Title</label>
		<input type="text" class="form-control" id="post-title" name="post-title" />
	</div>
	<div>
		<label for="post-content" class="form-label">Content</label>
		<input class="form-control" id="post-content" name="post-content" />
	</div>
	<div>
		<button type="submit" class="btn btn-create-post">Create</button>
	</div>
</form>
<a href="/dashboard" class="row justify-content-end">Back to dashboard</a>
<script src="/javascript/create-new-post.js"></script>