<article class="edit-post">
	<h2>Edit Post</h2>
	<form class="edit-post-form vstack gap-3">
		<div>
			<label for="edit-title" class="form-label">Title</label>
			<input type="text" class="form-control" id="edit-title" name="post-title" value="{{post.title}}" />
		</div>
		<div>
			<label for="edit-content" class="form-label">Content</label>
			<input type="text" class="form-control" id="edit-content" name="post-content" value="{{post.content}}" />
		</div>
		<button type="submit" class="btn-update-post">Update Post</button>
		<button type="button" class="btn-delete-post">Delete Post</button>
	</form>
</article>
<a href="/dashboard" class="row justify-content-end">Back to dashboard</a>
<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>