<section class="form-border vstack gap-3">
	<div class="header-form">
		<h2>Login</h2>
	</div>
	<form class="login-form vstack gap-3">
		<div>
		<label for="username-login" class="form-label">Username</label>
		<input type="text" class="form-control" id="username-login" />
		</div>
		<div>
		<label for="password-login" class="form-label">Password</label>
		<input type="password" class="form-control" id="password-login" />
		</div>
		<div>
		<button class="btn-login" type="submit">Login</button>
		</div>
	</form>
	<div class="signup-instead">
		<p>Don't have an account? <a href="/signup">Sign up</a></p>
	</div>
</section>

<script src="/javascript/login.js"></script>