<section class="form-border vstack gap-3">
	<div class="header-form">
		<h2>Sign Up</h2>
	</div>
	<form class="signup-form vstack gap-3">
		<div>
			<label for="username-signup" class="form-label">Username</label>
			<input type="text" class="form-control" id="username-signup" />
		</div>
		<div>
			<label for="password-signup" class="form-label">Password</label>
			<input type="password" class="form-control" id="password-signup" />
		</div>
		<div>
			<button class="btn-signup" type="submit">Sign Up</button>
		</div>
	</form>
	<div class="login-instead">
		<p>Have an account already? <a href="/login">Log in</a></p>
	</div>
</section>
<script src="/javascript/signup.js"></script>