{{> post-info post}}
{{> comments post.comments}}
{{#if loggedIn}}
<form class="comment-form vstack gap-3">
	<div class="row ">
		<h3>Comment</h3>
		<textarea class="textarea" name="comment-body"></textarea>
	</div>
	<div class="comment-submit row justify-content-center">
		<button class="btn-submit-comment" type="submit">Submit</button>
	</div>
</form>
{{/if}}
{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}